body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: cursive, sans-serif;
    background-image: url(https://www.enchanted.media/wp-content/uploads/2023/11/POWERPOINT-AdobeStock_351690896.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f0f0f0;
}


.logo-container {
    width: 150px; /* Adjust the size as needed */
    
}

.logo {
    width: 100%; /* Makes the logo responsive */
    height: auto;
    margin-bottom: 659px;
    margin-right: 42px;
    margin-left: -487px;
    box-shadow: #3128a7;
    font-size: x-large;
    font-display: calc(20%);
    color: #06c9bf;
    border-radius: 25px;
}

/* .landing {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
} */
/* 
.landing-content {
    max-width: 600px;
} */

/* .landing button {
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #007bff;
    color: white;
} */

.stopwatch {
    /* background: #5d0e72;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* background: rgba(93, 14, 114, 0.8); Purple color with 80% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(75, 141, 173);
    /* background-color: #7e3565; */
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -147px;
}
/* h1 {
    color: white; 
    margin-bottom: 20px;
} */

.time-display {
    /* font-size: 2em;
    margin-bottom: 20px; */

    font-size: 75px;
    box-shadow: 0px 0px 10px rgb(84, 152, 195);
    padding: 11px;
    color: white;
    border-radius: 16px;
    margin-bottom: 10px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

}

.buttons {
    margin-bottom: 20px;
}

.buttons button {
    font-size: larger;
    /* padding:20px;
    margin: 10px; */
    border: none;
    
    /* border-radius: 10px; */
    padding: 15px;
    margin: 9px;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
    box-shadow: 5px 5px 1px rgba(89, 44, 132, 0.658);
    transition: all 0.5s;
    /* background-color: rgb(24, 171, 171); */
}

.buttons :hover{
    cursor: pointer;
    /* content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0; */
}

.buttons :active{

    box-shadow: none;
    transition: all 0.5s;
}

/* button::after{

    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
} */



#startStopBtn {
    background: #b547a4;
    color: white;
}

#resetBtn {
    background: #2885a7;
    color: white;
}

#lapBtn {
    background: #b547a4;
    color: white;
}

.laps {
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid rgb(75, 141, 173);
    padding-top: 10px;
    color: rgb(25, 216, 226);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(174, 61, 167);
    background-color: rgb(150, 83, 133);
}

.lap {
    padding: 5px;
    border-bottom: 1px solid rgb(75, 141, 173);
}

.lap:last-child {
    border-bottom: none;
    
}
@media (max-width: 412px) {
.stopwatch{
    margin-left: -152px;
}
}